@media (max-width: 650px){
  .post-height{
    min-height: 42px;
  }
  .buttons {
    justify-content: flex-end;
  }
  .button-post {
    font-size: 0.7rem;
    line-height: 1;
  }
  .align {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .single-post{
    min-width: 65%;
    text-align: left !important;
  }
  .landing{min-height:560px}.landing-inner{width:100%}.btn{padding:7px 17px;font-size:16px;margin-right:5px;width:120px}.btn-profiles{text-align:center;width:60% !important}.dash-buttons{text-align:center}.btn-dash{font-size:0.8rem;text-align:center;width:60% !important;margin:0.2rem}.navbar{font-size:14px;padding:10px 4px}.media-mobile{font-size:0.9rem}.profile{display:block;text-align:center;-ms-flex-pack:distribute;justify-content:space-around}.profile>img{width:50%;margin:0}.profile>div>.btn-profiles{width:100% !important}.profile ul{display:none}.profile-grid{grid-template-areas:'top'
  'about'
  'exp'
  'edu'
  'github'}.profile-about .skills{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.profile-about .skills div{padding:0.3rem}.container .table{width:100%}.container h1{text-align:center;font-size:1.5rem}.container p.lead{text-align:center;font-size:1rem}.container .hide-sm{display:none}.container .table .btn{width:auto}div.my-2 button.btn-profiles{width:auto !important;font-size:0.8rem}.form div.my-2{text-align:center}.form input[type="submit"]{width:auto}
  .post{display:flex;
    justify-content: space-between;
  }.post>div{text-align:center}.post>div.align a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around}.post>div div.buttons{display:-webkit-box;display:-ms-flexbox;display:flex}.post>div div.buttons button{width:auto}.post>div div.buttons a{width:auto !important}.post img{width:100px}}
  
  @media (min-width: 650px) and (max-width: 850px)
  {.table>.btn-danger{width:100%}.landing-inner{color:#000000;height:70%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:100%;margin:auto}.x-large{font-size:2.1rem}.buttons{width:100%}.btn{padding:0.4rem 1.3rem;font-size:1rem;margin-right:0.5rem}.btn-profiles{text-align:center;width:60% !important}.btn-dash{font-size:0.8rem;text-align:center;width:30% !important}}
 